* {
    box-sizing: border-box;
}

body {
    text-align: center;
}

.board {
    border: 3px solid black;
    display: flex;
    width: 675px;
    flex-wrap: wrap;
    margin: auto;
}

.triple {
    border: 2px solid black;
    flex-wrap: wrap;
    display: flex;
    flex-grow: 1;
    width: 33%;
}
.cell {

    font-size: 25px;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    width: 33%;
    height: 75px;
    margin: 0;
}
button {
    font-size: 20px;
}
input {
    font-size: 20px;
}

#error {
    color: red;
    margin-top: 10px;
}

#time  {
    margin-top: 10px;
}

.cell:focus {
    border: 5px solid orange;
    /*outline-color: orange;*/
    outline-width: 0;
    outline-style: solid;
    line-height: 65px;
}